<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Booking Apartments</a>
    <div id="custom-search-input">
        <div class="input-group col-lg-12">
            <input type="text" class="  search-query form-control" placeholder="Search for " name="Search" />
            <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit" >
                        <span><i class="fas fa-search">Search</i></span>
            </button>
            </span>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                      </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <ng-container *ngIf="!auth.isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Registre</a>
                </li>
            </ng-container>
            <ng-container *ngIf="auth.isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link">{{auth.getUsername()}}</a>
                </li>
                <li class="nav-item clickable">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>